
.filter-item{
    padding: 8px;
    display: flex;
    margin: 10px 10px 10px 0px;
    background-color: var(--primary-bg);
    color: var(--filter-color);
    border: 1px solid var(--filter-color);
    border-radius: 8px;
    font-size: 14px
}
.filter-item:hover{
    background-color: var(--inactive-color-tab );
}
.filter-name{
    margin-left: 5px;
}