.dining-out-collection {
    background-color: var(--delivery-collection-bg-color);
}

.dining-collection-title {
    font-size: 30px;
    font-weight: 600;
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 18px;
}

.dining-collection-text-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.dining-collection-body-text {
    font-size: 20px;
    font-weight: 100;
    color: var(--inactive-tab-option);
}

.dining-collection-red-body {
    font-size: 16px;
    color: var(--active-tab-option);

}

.dining-collection-icon {
    margin-left: 8px;
}
/* .dining-collection-items{
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
} */